.chevronButton {
	cursor: pointer;
	color: rgba(135, 135, 135, 0.5);
	background-color: transparent;
	position: relative;
	margin-top: 5%;
	left: 50%;
	bottom: 40px;
	height: 20px;
	width: 50px;
	margin-left: -15px;
	display: block;
	z-index: 10;
  text-align: center;
}

.chevronButton img{
	width: 2.5em;
  position: relative;
}
