.about {
  background-color: #f5f5f5;
  background-size: cover;
  height: 100vh;
}

.about img {
  max-width: 50%;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 20px;
  padding: 20px;
}
