.about {
  background-color: #f5f5f5;
  background-size: cover;
  text-align: left;
  font-size: 1.5em;
  position: relative;
}

.pictureCard {
  display: block;
  max-width: 90%;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: auto;
  margin-right: auto;
  padding: 3%;
}

.aboutMeText {
  max-width: 94%;
  margin-left: auto;
  margin-right: auto;
  padding: 2%;
}

.aboutMeText p {
  margin-top: 0px;
}

.aboutMeText a {
  text-decoration: none;
  color: #d56c68;
  border-bottom: 1px dotted #595959;
}
